body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"texgyreadventor-bold";
    src: url("texgyreadventor-bold.otf");
}
#navbar {
    background-color:black;
    width:100%;
    height:10rem;
    padding:0;
    margin:0;
}
#logo {
    height:80%;
    margin-top:1%;
    margin-left:2%;
    float:left;
    margin-right:1rem;
}
nav {
    width:100%;
    height:100%;
    float:right;
    position:relative;
}
nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin-top:5.5rem;
}

nav ul li {
    float: left;
    border-left:2px solid rgb(114, 114, 114);
}

nav ul li a {
    position: relative;
    display:block;
    color:rgb(131, 131, 131);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1.5em;
    font-family:"texgyreadventor-bold";
}
nav ul li a:hover {
    color:white;
}


#content {
    height:120rem;
    width:100%;
    background-color: rgb(255, 255, 255);
}
#articles {
    height:96%;
    margin-top:3%;
    background-color: rgb(255, 255, 255);
    width:90%;
    margin-left:5%;
}
.articles-row {
    width:100%;
    height:13%;
    margin-bottom: 5%;
    background-color:black;
}
#footer {
    height:10rem;
    background-color:rgb(255, 255, 255);
    width:100%;
}